<div class="jumbotron container">
  <div class="row" *ngIf="checkErrorIsNotUndefined()">
    <p class="col-sm-2 col-form-label"></p>
    <p class="col-sm-8">
      <app-error-display [_displayError]="checkErrorIsNotUndefined()" [_error]="error">
      </app-error-display>
    </p>
  </div>
  <div class="col">
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Title</h5>
      <p class="col-9">{{abstract.title}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Authors</h5>
      <p class="col-9">{{abstract.authors}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Tutor</h5>
      <p class="col-9">{{abstract.tutors}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Affiliation</h5>
      <p class="col-9">{{abstract.affiliation}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Type</h5>
      <p class="col-9">{{abstract.type}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Status</h5>
      <p class="col-9">{{abstract.status}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Category</h5>
      <p class="col-9">{{abstract.category.name}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Background</h5>
      <p class="col-9">{{abstract.background}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Case Report</h5>
      <p class="col-9">{{abstract.caseReport}}</p>
    </div>
    <div class="row">
      <p class="col-1"></p>
      <h5 class="col-2 col-form-label">Conclusion</h5>
      <p class="col-9">{{abstract.conclusions}}</p>
    </div>
  </div>
  <div class="float-right">
    <app-abstract-action-buttons prefixUrl="abstracts/case/" type="details" [case]="abstract" [id]="id">
    </app-abstract-action-buttons>
  </div>
</div>
