<div class="container form">
  <form class="needs-validation" [formGroup]="abstractForm" novalidate>
    <div class="form-group col">
      <div class="row">
        <label class="col-2 col-form-label">Title *</label>
        <div class="col-7">
          <input type="text" class="form-control" formControlName="title">
          <div class="error-messages" *ngIf="!(abstractForm.get('title').untouched || abstractForm.get('title').valid)">
            Title field is required
          </div>
        </div>
      </div>
      <div class="row" formArrayName="authors">
        <label class="col-2 col-form-label">Authors *</label>
        <div class="col-7 row-author row" *ngFor="let author of authors.controls; index as idx">
          <input class="form-control author-input" [formControlName]="idx">
          <button class="btn btn-secondary" type="button" (click)="deleteAuthorField(idx)">-</button>
        </div>
        <button type="btn button-plus" (click)="addAuthorField()">+</button>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Tutor *</label>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="tutors">
          <span class="error-messages"
                *ngIf="!(abstractForm.get('tutors').untouched || abstractForm.get('tutors').valid)">
          Tutor field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Affiliation *</label>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="affiliation">
          <span class="error-messages"
                *ngIf="!(abstractForm.get('affiliation').untouched || abstractForm.get('affiliation').valid)">
          Affiliation field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Category *</label>
        <div class="col-7">
          <select class="form-control col-7" formControlName="categoryId">
            <option value="">Select category...</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Background *</label>
        <div class="col-7">
          <textarea type="text" class="form-control"
                    formControlName="background" autosize></textarea>
          <span class="error-messages"
                *ngIf="!(abstractForm.get('background').untouched || abstractForm.get('background').valid)">
            Background field is required
          </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Case report *</label>
        <div class="col-7">
          <textarea type="text" class="form-control"
                    formControlName="caseReport" autosize></textarea>
          <span class="error-messages"
                *ngIf="!(abstractForm.get('caseReport').untouched || abstractForm.get('caseReport').valid)">
            Case report field is reuired
          </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Conclusions *</label>
        <div class="col-7">
          <textarea type="text" class="form-control"
                    formControlName="conclusions" autosize></textarea>
          <span class="error-messages"
                *ngIf="!(abstractForm.get('conclusions').untouched || abstractForm.get('conclusions').valid)">
            Conclusions field is required
          </span>
        </div>
      </div>
    </div>
  </form>
  <div class="float-right">
    <app-abstract-action-buttons prefixUrl="abstracts/case/" type="modify" [case]="abstractForm.value" [id]="id">
    </app-abstract-action-buttons>
  </div>
</div>
