<div class="container form">
  <form class="needs-validation" [formGroup]="abstractForm" novalidate>
    <div class="form-group col">
      <div class="row">
        <label class="col-2 col-form-label">Title *</label>
        <div class="col-7">
          <input type="text" class="form-control" formControlName="title">
          <div class="error-messages" *ngIf="!(abstractForm.get('title').untouched || abstractForm.get('title').valid)">
            Title field is required
          </div>
        </div>
      </div>
      <div class="row" formArrayName="authors">
        <label class="col-2 col-form-label">Authors *</label>
        <div class="col-7 row-author row" *ngFor="let author of authors.controls; index as idx">
          <input class="form-control author-input" [formControlName]="idx">
          <button class="btn btn-secondary" type="button" (click)="deleteAuthorField(idx)">-</button>
          <span class="error-messages"
                *ngIf="!(authors.at(idx).untouched || authors.at(idx).valid)">
          Authors field is required
        </span>
        </div>
        <button type="btn button-plus" (click)="addAuthorField()">+</button>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Tutor *</label>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="tutors">
          <span class="error-messages"
                *ngIf="!(abstractForm.get('tutors').untouched || abstractForm.get('tutors').valid)">
          Tutor field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Affiliation *</label>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="affiliation">
          <span class="error-messages"
                *ngIf="!(abstractForm.get('affiliation').untouched || abstractForm.get('affiliation').valid)">
          Affiliation field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Category *</label>
        <div class="col-7">
          <select class="form-control col-7" formControlName="categoryId">
            <option value="">Select category...</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <span class="error-messages"
                *ngIf="!(abstractForm.get('categoryId').untouched || abstractForm.get('categoryId').valid)">
          Category field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Background *</label>
        <div class="col-7">
          <textarea type="text" class="form-control"
                    formControlName="background" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('background').untouched && this.abstractForm.get('background').value === ''">
            Background field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('background') === 1">
            Too long. Maximum length fields background, case report and conclusions are 2300 characters.</span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Case report *</label>
        <div class="col-7">
          <textarea type="text" class="form-control"
                    formControlName="caseReport" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('caseReport').untouched && this.abstractForm.get('caseReport').value === ''">
            Case report field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('caseReport') === 1">
            Too long. Maximum length fields background, case report and conclusions are 2300 characters.
          </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Conclusions *</label>
        <div class="col-7">
          <textarea type="text" class="form-control"
                    formControlName="conclusions" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('conclusions').untouched && this.abstractForm.get('conclusions').value === ''">
            Conclusions field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('conclusions') === 1">
            Too long. Maximum length fields background, case report and conclusions are 2300 characters.
          </span>
        </div>
      </div>
    </div>
  </form>
  <div class="float-right">
    <app-abstract-action-buttons prefixUrl="abstracts/case/" type="create" [insertable]="insertable()" (click)="validateAllFormFields(abstractForm)"
                                 [case]="abstractForm.value"></app-abstract-action-buttons>
  </div>
</div>
