<div class="container">
  <div class="row" *ngIf="checkErrorIsNotUndefined()">
    <p class="col-sm-3 col-form-label"></p>
    <p class="col-sm-7">
      <app-error-display [_displayError]="checkErrorIsNotUndefined()" [_error]="error">
      </app-error-display>
    </p>
  </div>
  <h2>List users</h2>
  <button class="btn btn-primary button-new" routerLink="new">Add Admin</button>
  <table class="table">
    <thead>
      <tr class="row">
        <th class="col" sortable="id" (sort)="onSortedUser($event)">ID</th>
        <th class="col" sortable="email" (sort)="onSortedUser($event)">Email</th>
        <th class="col" sortable="firstName" (sort)="onSortedUser($event)">First name</th>
        <th class="col" sortable="lastName" (sort)="onSortedUser($event)">Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" *ngFor="let user of users" routerLink="{{user.id}}">
        <td class="col">{{user.id}}</td>
        <td class="col">{{user.email}}</td>
        <td class="col">{{user.firstName}}</td>
        <td class="col">{{user.lastName}}</td>
      </tr>
    </tbody>
  </table>
</div>
