<div class="container">
  <div class="row" *ngIf="checkErrorIsNotUndefined()">
    <p class="col-sm-2 col-form-label"></p>
    <p class="col-sm-8">
      <app-error-display [_displayError]="checkErrorIsNotUndefined()" [_error]="error">
      </app-error-display>
    </p>
  </div>
  <h2>List users</h2>
  <button class="btn btn-primary button-new" routerLink="new">Add Admin</button>
  <table class="table">
    <thead>
      <tr class="row">
        <th class="col" sortable="id" (sort)="onSortedAdmin($event)">
          <div>
            ID
            <span *ngIf="keySort === 'id' && reverseSort === true"><fa-icon
              [icon]="faAngleDown"></fa-icon></span>
            <span *ngIf="keySort === 'id' && reverseSort === false"><fa-icon
              [icon]="faAngleUp"></fa-icon></span>
          </div>
        </th>
        <th class="col" sortable="email" (sort)="onSortedAdmin($event)">
          <div>
            Email
            <span *ngIf="keySort === 'email' && reverseSort === true"><fa-icon
              [icon]="faAngleDown"></fa-icon></span>
            <span *ngIf="keySort === 'email' && reverseSort === false"><fa-icon
              [icon]="faAngleUp"></fa-icon></span>
          </div>
        </th>
        <th class="col" sortable="firstName" (sort)="onSortedAdmin($event)">
          <div>
            First name
            <span *ngIf="keySort === 'firstName' && reverseSort === true"><fa-icon
              [icon]="faAngleDown"></fa-icon></span>
            <span *ngIf="keySort === 'firstName' && reverseSort === false"><fa-icon
              [icon]="faAngleUp"></fa-icon></span>
          </div>
        </th>
        <th class="col" sortable="lastName" (sort)="onSortedAdmin($event)">
          <div>
            Last name
            <span *ngIf="keySort === 'lastName' && reverseSort === true"><fa-icon
              [icon]="faAngleDown"></fa-icon></span>
            <span *ngIf="keySort === 'lastName' && reverseSort === false"><fa-icon
              [icon]="faAngleUp"></fa-icon></span>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="row" *ngFor="let user of admins" routerLink="{{user.id}}">
        <td class="col col-md-2" style="word-break:break-word;">{{user.id}}</td>
        <td class="col col-md-4" style="word-break:break-word;">{{user.email}}</td>
        <td class="col col-md-3" style="word-break:break-word;">{{user.firstName}}</td>
        <td class="col col-md-3" style="word-break:break-word;">{{user.lastName}}</td>
      </tr>
    </tbody>
  </table>
</div>
