<div class="content_wrapper">
  <div class="title_box">
    <div class="container">
      <div class="breadcrumbs">
        <span property="itemListElement" typeof="ListItem">
          <a property="item" typeof="WebPage" title="Go to 14th Bialystok International Medical Congress." href="http://bimc.umb.edu.pl" class="home">
            <span property="name">14th Bialystok International Medical Congress</span>
          </a>
          <meta property="position" content="1">
        </span>
        &gt;
        <span property="itemListElement" typeof="ListItem">
          <span property="name">Programme</span>
          <meta property="position" content="2">
        </span>
      </div>
      <div class="title_wr">
        <h1>Workshops</h1>
      </div>
    </div>
  </div>
  <div class="page type-page status-publish hentry">
    <router-outlet></router-outlet>
  </div>
</div>
