<div class="jumbotron container">
  <div class="col">
    <div class="row">
      <h5 class="col-2 col-form-label">Title</h5>
      <p class="col-10">{{abstract.title}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Authors</h5>
      <p class="col-10">{{abstract.authors}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Tutor</h5>
      <p class="col-10">{{abstract.tutors}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Category</h5>
      <p class="col-10">{{abstract.categoryId}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Background</h5>
      <p class="col-10">{{abstract.introdution}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Case Report</h5>
      <p class="col-10">{{abstract.aimOfTheStudy}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Conclusion</h5>
      <p class="col-10">{{abstract.materialAndMethods}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Conclusion</h5>
      <p class="col-10">{{abstract.results}}</p>
    </div>
    <div class="row">
      <h5 class="col-2 col-form-label">Conclusion</h5>
      <p class="col-10">{{abstract.conclusions}}</p>
    </div>
  </div>
</div>
