<div id="admin-tab">
  <div class="container">
    <div class="searchForm">
      <form [formGroup]="searchCriteria">
        <h5>Abstract data</h5>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputState2-1">Status</label>
            <select id="inputState2-1" class="form-control" formControlName="status">
              <option value="" selected>Status</option>
              <option *ngFor="let status of status" value="{{status}}">{{status}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState2-2">Type</label>
            <select id="inputState2-2" class="form-control" formControlName="type">
              <option value="" selected>Type</option>
              <option *ngFor="let type of type" value="{{type}}">{{type}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputState2-3">Category</label>
            <select id="inputState2-3" class="form-control" formControlName="category">
              <option value="" selected>Category</option>
              <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
            </select>
          </div>
        </div>
        <hr/>
        <div class="row float-right" style="margin-bottom: 25px">
          <button class="btn btn-primary" style="margin-right: 10px" (click)="clearForm()">Clear</button>
          <button class="btn btn-primary" (click)="find()">Find</button>
        </div>
      </form>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-case-tab" data-toggle="tab" href="#nav-case" role="tab"
               aria-controls="nav-case" aria-selected="true">Case Report</a>
            <a class="nav-item nav-link" id="nav-research-tab" data-toggle="tab" href="#nav-research" role="tab"
               aria-controls="nav-research" aria-selected="false">Research</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-case" role="tabpanel" aria-labelledby="nav-case-tab">
            <table class="table" cellspacing="0">
              <thead>
              <tr class="row">
                <th class="col col-md-1" sortable="id" (sort)="onSortedCase($event)">
                  <div>
                    #
                    <span *ngIf="keySortC === 'id' && reverseSortC === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortC === 'id' && reverseSortC === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
                <th class="col col-md-3" sortable="title" (sort)="onSortedCase($event)">
                  <div>
                    Title
                    <span *ngIf="keySortC === 'title' && reverseSortC === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortC === 'title' && reverseSortC === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
                <th class="col col-md-2" sortable="status" (sort)="onSortedCase($event)">
                  <div>
                    Status
                    <span *ngIf="keySortC === 'status' && reverseSortC === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortC === 'status' && reverseSortC === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
                <th class="col col-md-2">Author</th>
                <th class="col col-md-2">Tutor</th>
                <th class="col col-md-2" sortable="category.name" (sort)="onSortedCase($event)">
                  <div>
                    Category
                    <span *ngIf="keySortC === 'category.name' && reverseSortC === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortC === 'category.name' && reverseSortC === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="row" *ngFor="let abstract of case; index as i" routerLink="case/{{abstract.id}}">
                <td class="col col-md-1" style="word-break:break-word;">{{abstract.id}}</td>
                <td class="col col-md-3" style="word-break:break-word;">{{abstract.title}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.status}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.authors}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.tutors}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.category.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="nav-research" role="tabpanel" aria-labelledby="nav-research-tab">
            <table class="table" cellspacing="0">
              <thead>
              <tr class="row">
                <th class="col col-md-1" sortable="id" (sort)="onSortedResearch($event)">
                  <div>
                    #
                    <span *ngIf="keySortR === 'id' && reverseSortR === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortR === 'id' && reverseSortR === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
                <th class="col col-md-3" sortable="title" (sort)="onSortedResearch($event)">
                  <div>
                    Title
                    <span *ngIf="keySortR === 'title' && reverseSortR === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortR === 'title' && reverseSortR === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
                <th class="col col-md-2" sortable="status" (sort)="onSortedResearch($event)">
                  <div>
                    Status
                    <span *ngIf="keySortR === 'status' && reverseSortR === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortR === 'status' && reverseSortR === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
                <th class="col col-md-2">Author</th>
                <th class="col col-md-2">Tutor</th>
                <th class="col col-md-2" sortable="category.name" (sort)="onSortedResearch($event)">
                  <div>
                    Category
                    <span *ngIf="keySortR === 'category.name' && reverseSortR === true"><fa-icon
                      [icon]="faAngleDown"></fa-icon></span>
                    <span *ngIf="keySortR === 'category.name' && reverseSortR === false"><fa-icon
                      [icon]="faAngleUp"></fa-icon></span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="row" *ngFor="let abstract of research; index as i" routerLink="research/{{abstract.id}}">
                <td class="col col-md-1" style="word-break:break-word;">{{abstract.id}}</td>
                <td class="col col-md-3" style="word-break:break-word;">{{abstract.title}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.status}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.authors}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.tutors}}</td>
                <td class="col col-md-2" style="word-break:break-word;">{{abstract.category.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
