<div class="container">
  <form (ngSubmit)="f.userExport.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <span class="col-sm-2 col-form-label">Type</span>
      <input class="form-control col-sm-6" type="text" name="type" [(ngModel)]="userExport.type" #type="ngModel" disabled>
      <div class="col-sm-2"></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <span class="col-sm-2 col-form-label">Format file</span>
      <input class="form-control col-sm-6" type="text" name="format" [(ngModel)]="userExport.format" #format="ngModel" disabled>
      <div class="col-sm-2"></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <span class="col-sm-2 col-form-label">Name file</span>
      <input class="form-control col-sm-6" type="text" name="fileName" [(ngModel)]="userExport.fileName" #fileName="ngModel">
      <div class="col-sm-2"></div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <button class="btn btn-primary col-sm-8">Export</button>
      <div class="col-sm-2"></div>
    </div>
  </form>
</div>
