#footer .footer_widgets {
  color: #ffffff;
  background-color: #4C6575;
  position: relative;
  background: #4C6575;
  padding: 40px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
#footer .copyright {
  color: #ffffff;
  background-color: #395261;
  position: relative;
  background: #395261;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 23px 0;
  line-height: 1;
}
#footer .copyright a {
  color: #9AA6AD;
  transition: all 0.2s ease-out;
}
