<div class="container form">
  <form class="needs-validation" [formGroup]="abstractForm" novalidate>
    <div class="form-group col">
      <div class="row">
        <label class="col-2 col-form-label">Title *</label>
        <div class="col-7">
          <input type="text" class="form-control" formControlName="title">
          <div class="error-messages" *ngIf="!(abstractForm.get('title').untouched || abstractForm.get('title').valid)">
            Title field is required
          </div>
        </div>
      </div>
      <div class="row" formArrayName="authors">
        <label class="col-2 col-form-label">Authors *</label>
        <div class="col-7 row row-author" *ngFor="let author of authors.controls; index as idx">
          <input class="form-control author-input" [formControlName]="idx">
          <button class="btn btn-secondary" type="button" (click)="deleteAuthorField(idx)">-</button>
          <span class="error-messages"
                *ngIf="!(authors.at(idx).untouched || authors.at(idx).valid)">
          Authors field is required
        </span>
        </div>
        <button type="btn button-plus" (click)="addAuthorField()">+</button>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Tutor *</label>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="tutors">
          <span class="error-messages"
                *ngIf="!(abstractForm.get('tutors').untouched || abstractForm.get('tutors').valid)">
          Tutor field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Affiliation *</label>
        <div class="col-5">
          <input type="text" class="form-control" formControlName="affiliation">
          <span class="error-messages"
                *ngIf="!(abstractForm.get('affiliation').untouched || abstractForm.get('affiliation').valid)">
          Affiliation field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Category *</label>
        <div class="col-7">
          <select class="form-control col-7" formControlName="categoryId">
            <option value="">Select category...</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
          <span class="error-messages"
                *ngIf="!(abstractForm.get('categoryId').untouched || abstractForm.get('categoryId').valid)">
          Category field is required
        </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Introduction *</label>
        <div class="col-7">
        <textarea type="text" class="form-control"
                  formControlName="introduction" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('introduction').untouched && this.abstractForm.get('introduction').value === ''">
            Introduction field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('introduction') === 1">
            Too long. Maximum length fields introduction, aim of the study,  material and methods, results and conclusions are 2300 characters.
          </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Aim of the study *</label>
        <div class="col-7">
        <textarea type="text" class="form-control"
                  formControlName="aimOfTheStudy" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('aimOfTheStudy').untouched && this.abstractForm.get('aimOfTheStudy').value === ''">
            Aim Of The Study field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('aimOfTheStudy') === 1">
            Too long. Maximum length fields introduction, aim of the study,  material and methods, results and conclusions are 2300 characters.
          </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Material and methods *</label>
        <div class="col-7">
        <textarea type="text" class="form-control"
                  formControlName="materialAndMethods" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('materialAndMethods').untouched && this.abstractForm.get('materialAndMethods').value === ''">
            Material And Methods field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('materialAndMethods') === 1">
            Too long. Maximum length fields introduction, aim of the study,  material and methods, results and conclusions are 2300 characters.
          </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Result *</label>
        <div class="col-7">
        <textarea type="text" class="form-control"
                  formControlName="results" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('results').untouched && this.abstractForm.get('results').value === ''">
            Results field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('results') === 1">
            Too long. Maximum length fields introduction, aim of the study,  material and methods, results and conclusions are 2300 characters.
          </span>
        </div>
      </div>
      <div class="row">
        <label class="col-2 col-form-label">Conclusions *</label>
        <div class="col-7">
        <textarea type="text" class="form-control"
                  formControlName="conclusions" autosize></textarea>
          <span class="error-messages"
                *ngIf="!this.abstractForm.get('conclusions').untouched && this.abstractForm.get('conclusions').value === ''">
            Conclusions field is required
          </span>
          <span class="error-messages"
                *ngIf="handleException('conclusions') === 1">
            Too long. Maximum length fields introduction, aim of the study,  material and methods, results and conclusions are 2300 characters.
          </span>
        </div>
      </div>
      <div class="float-right">
        <span [style.color]="lengthFields>2300?'red':'black'"> {{lengthFields}}/2300 </span>
      </div>
      <br/>
    </div>
  </form>
  <div class="float-right">
    <app-abstract-action-buttons prefixUrl="abstracts/research/" type="create" [insertable]="insertable()" (click)="validateAllFormFields(abstractForm)"
                                 [research]="abstractForm.value"></app-abstract-action-buttons>
  </div>
</div>
