<form class="needs-validation"  [formGroup]="modelForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Title</label>
      <input type="text" formControlName="title" class="form-control" name="title">
      <span *ngIf="!(modelForm.controls.title.untouched || modelForm.controls.title.valid)">{{ 'error.required' }}</span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Authors</label>
      <input type="text" formControlName="authors" class="form-control" name="authors">
      <span *ngIf="!(modelForm.controls.authors.untouched || modelForm.controls.authors.valid)">{{ validationMessages.authors }}</span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Tutor</label>
      <input type="text" formControlName="tutors" class="form-control" name="tutors">
      <span *ngIf="!(modelForm.controls.tutors.untouched || modelForm.controls.tutors.valid)">{{ validationMessages.tutors }}</span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Category</label>
      <input type="text" class="form-control" name="category">
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Introduction</label>
      <input type="text" formControlName="introdution" class="form-control" name="introdution">
      <span *ngIf="!(modelForm.controls.introdution.untouched || modelForm.controls.introdution.valid)">{{ validationMessages.introdution }}</span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Aim of the study</label>
      <input type="text" formControlName="aimOfTheStudy" class="form-control" name="aimOfTheStudy">
      <span *ngIf="!(modelForm.controls.aimOfTheStudy.untouched || modelForm.controls.aimOfTheStudy.valid)">{{ validationMessages.aimOfTheStudy }}</span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Material and methods</label>
      <input type="text" formControlName="materialAndMethods" class="form-control" name="materialAndMethods">
      <span *ngIf="!(modelForm.controls.materialAndMethods.untouched || modelForm.controls.materialAndMethods.valid)">{{ validationMessages.materialAndMethods }}</span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Result</label>
      <input type="text" formControlName="results" class="form-control" name="results">
      <span *ngIf="!(modelForm.controls.results.untouched || modelForm.controls.results.valid)">{{ validationMessages.results }}</span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Conclusion</label>
      <input type="text" formControlName="conclusions" class="form-control" name="conclusions">
      <span *ngIf="!(modelForm.controls.conclusions.untouched || modelForm.controls.conclusions.valid)">{{ validationMessages.conclusions }}</span>
    </div>
  </div>
  <button [disabled]="!modelForm.valid" type="submit">Send</button>
</form>
