<form class="needs-validation" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="form-group">
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="research.title">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Authors</label>
      <input type="text" class="form-control" name="authors" [(ngModel)]="author">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Tutor</label>
      <input type="text" class="form-control" name="tutors" [(ngModel)]="research.tutors">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Category</label>
      <div class="col-sm-7">
        <select class="col-sm-7 form-control" name="country" [(ngModel)]="research.categoryId">
          <option value="">Select category...</option>
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Introduction</label>
      <input type="text" class="form-control" name="introdution" [(ngModel)]="research.introdution">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Aim of the study</label>
      <input type="text" class="form-control" name="aimOfTheStudy" [(ngModel)]="research.aimOfTheStudy">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Material and methods</label>
      <input type="text" class="form-control" name="materialAndMethods" [(ngModel)]="research.materialAndMethods">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Result</label>
      <input type="text" class="form-control" name="results" [(ngModel)]="research.results">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
    <div class="col-md-6 mb-3">
      <label class="col col-form-label">Conclusions</label>
      <input type="text" class="form-control" name="conclusions" [(ngModel)]="research.conclusions">
      <span *ngIf="!(f.untouched || f.valid)"></span>
    </div>
  </div>
  <button [disabled]="!f.value" type="submit">Send</button>
</form>
