<ol class="breadcrumb" typeof="ListItem">
  <li *ngFor="let breadcrumb of breadcrumbs$ | async; last as isLast; index as i"
      typeof="WebPage" class="breadcrumb-item" [ngClass]="{'active': isLast}" aria-current="page">
    <a *ngIf="!isLast; else lastRoute" [routerLink]="[breadcrumb.url, breadcrumb.params]" routerLinkActive="active">
      <span>{{ breadcrumb.label }}</span>
    </a>
    <meta property="position" content="{{i}}">
    <ng-template #lastRoute>{{ breadcrumb.label }}</ng-template>
  </li>
</ol>
