<div class="container">
  <h3>Change Password</h3>
  <hr/>
  <div class="row" *ngIf="checkErrorIsNotUndefined()">
    <p class="col-sm-2 col-form-label"></p>
    <p class="col-sm-8">
      <app-error-display [_displayError]="checkErrorIsNotUndefined()" [_error]="error">
      </app-error-display>
    </p>
  </div>
  <form name="form" (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm" novalidate>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Password *</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="email" formControlName="password" required/>
        <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Password is required">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Confirm Password *</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="email" formControlName="confirmPassword" required/>
        <app-field-error-display [displayError]="isFieldValid('confirmPassword')" errorMsg="Password not match">
        </app-field-error-display>
      </div>
    </div>
    <div class="form-group ng-hide">
      <button class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
