.button-new {
  width: 150px;
  float: right;
  margin-right: 40px;
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: #2B4859!important;
}

::ng-deep .modal-content {
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
}

::ng-deep .modal-dialog {
  margin-top: 30px;
}
