<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{create.account.title}">JHipster creation</title>
    <title>${}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>
    Thank you for registering!<br/>
    We confirm the submission of your application to participate in the 14th Bialystok International Medical Congress for Young Scientists,<br/>
    which will be held on <span th:text="${date}"/> in the Educational-Scientific Center, the Faculty of Health Sciences, Medical University of Bialystok, Szpitalna St. 37, Bialystok, Poland.<br/>
    <br/>
    Keep in mind that only timely payment guarantees the right to participate in the event.<br/>
    In the transfer title, please write: 14thBIMC, your Name and Surname.<br/>
    Registration is complete when you get a confirmation from the organizers, after sending confirmation of payment through the e-mail - fees.bimc@gmail.com<br/>
    <br/>
</p>
</body>
</html>
