<div class="container">
  <form name="form" (ngSubmit)="remind()" novalidate>
    <h3>Reset password</h3>
    <hr>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" name="email" [(ngModel)]="email"
               placeholder="Enter email" required/>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <button type="submit" class="btn btn-primary">Remind password</button>
      </div>
    </div>
  </form>
  <hr>
  <div>
    <a class="alert-link text-primary" routerLink="/login">Login</a>
  </div>
</div>
