<div class="container">
  <div class="row" *ngIf="checkErrorIsNotUndefined()">
    <p class="col-sm-2 col-form-label"></p>
    <p class="col-sm-8">
      <app-error-display [_displayError]="checkErrorIsNotUndefined()" [_error]="error">
      </app-error-display>
    </p>
  </div>
  <h2>List users</h2>
  <div>
    <form [formGroup]="searchCriteria">
      <h5>Account data</h5>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="inputState1-1">Country</label>
          <select id="inputState1-1" class="form-control" formControlName="country">
            <option value="" selected>Country</option>
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="formGroupExampleInput">University</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="University"
                 formControlName="university">
        </div>
        <div class="form-group col-md-3">
          <label for="inputState1-3">Title</label>
          <select id="inputState1-3" class="form-control" formControlName="title">
            <option value="" selected>Title</option>
            <option *ngFor="let title of title" value="{{title}}">{{title}}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="inputState1-4">Year of study</label>
          <select id="inputState1-4" class="form-control" formControlName="yearOfStudy">
            <option value="0" selected>Year of study</option>
            <option *ngFor="let yearOfStudy of yearOfStudy" value="{{yearOfStudy}}">{{yearOfStudy}}</option>
          </select>
        </div>
      </div>
      <hr/>
      <h5>Abstract data</h5>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputState2-1">Status</label>
          <select id="inputState2-1" class="form-control" formControlName="status">
            <option value="" selected>Status</option>
            <option *ngFor="let status of status" value="{{status}}">{{status}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState2-2">Type</label>
          <select id="inputState2-2" class="form-control" formControlName="type">
            <option value="" selected>Type</option>
            <option *ngFor="let type of type" value="{{type}}">{{type}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputState2-3">Category</label>
          <select id="inputState2-3" class="form-control" formControlName="category">
            <option value="" selected>Category</option>
            <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
          </select>
        </div>
      </div>
      <hr/>
      <div class="row float-right" style="margin-bottom: 25px">
        <button class="btn btn-primary" style="margin-right: 10px" (click)="clearForm()">Clear</button>
        <button class="btn btn-primary" (click)="find()">Find</button>
      </div>
    </form>
  </div>
  <table class="table" cellspacing="0">
    <thead>
    <tr class="row">
      <th class="col col-md-1">
        <div class="row">
          <div class="col-sm-6">
            <input type="checkbox" class="input-checkbox" (click)="selectAllUser()">
          </div>
          <div class="col-sm-6" sortable="id" (sort)="onSortedUser($event)">
            ID
            <span *ngIf="keySort === 'id' && reverseSort === true"><fa-icon
              [icon]="faAngleDown"></fa-icon></span>
            <span *ngIf="keySort === 'id' && reverseSort === false"><fa-icon
              [icon]="faAngleUp"></fa-icon></span>
          </div>
        </div>
      </th>
      <th class="col col-md-3" sortable="email" (sort)="onSortedUser($event)">
        <div>
          Email
          <span *ngIf="keySort === 'email' && reverseSort === true"><fa-icon
            [icon]="faAngleDown"></fa-icon></span>
          <span *ngIf="keySort === 'email' && reverseSort === false"><fa-icon
            [icon]="faAngleUp"></fa-icon></span>
        </div>
      </th>
      <th class="col col-md-2" sortable="firstName" (sort)="onSortedUser($event)">
        <div>
          First name
          <span *ngIf="keySort === 'firstName' && reverseSort === true"><fa-icon
            [icon]="faAngleDown"></fa-icon></span>
          <span *ngIf="keySort === 'firstName' && reverseSort === false"><fa-icon
            [icon]="faAngleUp"></fa-icon></span>
        </div>
      </th>
      <th class="col col-md-2" sortable="lastName" (sort)="onSortedUser($event)">
        <div>
          Last name
          <span *ngIf="keySort === 'lastName' && reverseSort === true"><fa-icon
            [icon]="faAngleDown"></fa-icon></span>
          <span *ngIf="keySort === 'lastName' && reverseSort === false"><fa-icon
            [icon]="faAngleUp"></fa-icon></span>
        </div>
      </th>
      <th class="col col-md-2" sortable="country" (sort)="onSortedUser($event)">
        <div>
          Country
          <span *ngIf="keySort === 'country' && reverseSort === true"><fa-icon
            [icon]="faAngleDown"></fa-icon></span>
          <span *ngIf="keySort === 'country' && reverseSort === false"><fa-icon
            [icon]="faAngleUp"></fa-icon></span>
        </div>
      </th>
      <th class="col col-md-2" sortable="university" (sort)="onSortedUser($event)">
        <div>
          University
          <span *ngIf="keySort === 'university' && reverseSort === true"><fa-icon
            [icon]="faAngleDown"></fa-icon></span>
          <span *ngIf="keySort === 'university' && reverseSort === false"><fa-icon
            [icon]="faAngleUp"></fa-icon></span>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" *ngFor="let user of users; index as i">
      <td class="col col-md-1">
        <div class="row">
          <div class="col-sm-6">
            <input id="checkbox-{{i}}" type="checkbox" (click)="checkUser(user.id, user.email)">
          </div>
          <div class="col-sm-6">
            {{user.id}}
          </div>
        </div>
      </td>
      <td class="col col-md-3" style="word-break:break-word;">{{user.email}}</td>
      <td class="col col-md-2" style="word-break:break-word;">{{user.firstName}}</td>
      <td class="col col-md-2" style="word-break:break-word;">{{user.lastName}}</td>
      <td class="col col-md-2" style="word-break:break-word;">{{user.country}}</td>
      <td class="col col-md-2" style="word-break:break-word;">{{user.university}}</td>
    </tr>
    </tbody>
  </table>
  <button [ngClass]="{disabled: userCheck.length === 0}" class="float-right btn btn-primary" (click)="clickSendMail()">
    Send mails
  </button>
</div>
