<div class="top_nav affix-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="logo">
          <a routerLink="">
            <img src="../../assets/img/bimc2019logo_small.png" alt="14th Bialystok International Medical Congress">
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <ng-container *ngIf="!roles" [ngTemplateOutlet]="offline"></ng-container>
        <ng-container *ngIf="roles" [ngTemplateOutlet]="online"></ng-container>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>

<div class="top_info_boxes">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="top_info_box">
          <div class="icon">
            <i class="stm-icon-roundels"></i>
          </div>
          <div class="text">
            <strong>Where?</strong>
            <span>{{place}}</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="top_info_box">
          <div class="icon">
            <i class="stm-icon-clock"></i>
          </div>
          <div class="text">
            <strong>When?</strong>
            <span>{{time}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #offline>
  <ul id="menu-primary-menu-1" class="top_nav_menu" routerLinkActive="active">
    <!--li id="menu-item-1-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1-1">
      <a routerLink="home">Home</a>
    </li-->
    <li id="menu-item-1-2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1-2">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li id="menu-item-1-3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1-3">
      <a class="nav-link" routerLink="sign">Registration</a>
    </li>
  </ul>
</ng-template>
<ng-template #online>
  <ul id="menu-primary-menu-2" class="top_nav_menu" routerLinkActive="active">
    <!--li id="menu-item-2-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-1">
      <a routerLink="home">Home</a>
    </li-->
    <ng-container *ngIf="checkAuthorities('ROLE_ADMIN')" [ngTemplateOutlet]="admin"></ng-container>
    <ng-container *ngIf="checkAuthorities('ROLE_ACTIVE_PARTICIPANT')" [ngTemplateOutlet]="active_user"></ng-container>
    <ng-container *ngIf="checkAuthorities('ROLE_PASSIVE_PARTICIPANT')" [ngTemplateOutlet]="pasive_user"></ng-container>
    <li id="menu-item-info" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-info">
      <a class="nav-link" routerLink="user/{{tokenStorage.getUserId()}}">Info</a>
    </li>
    <li id="menu-item-logout" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-logout">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</ng-template>
<ng-template #admin>
  <li id="menu-item-2-2-1"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-2-2-1">
    <a class="nav-link" routerLink="admin/user">Participant</a>
    <ul class="sub-menu">
      <li id="menu-item-2-2-1-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-2-1-1">
        <a href="admin/user">List</a>
      </li>
      <li id="menu-item-2-2-1-2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-2-1-2">
        <a href="admin/user/group-mail">Group Mail</a>
      </li>
      <li id="menu-item-2-2-1-3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-2-1-3">
        <a href="admin/user/export">Export</a>
      </li>
    </ul>
  </li>
  <li id="menu-item-2-3-1"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-2-3-1">
    <a class="nav-link" routerLink="admin/abstract">Abstracts</a>
    <ul class="sub-menu">
      <li id="menu-item-2-3-1-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-3-1-1">
        <a href="admin/abstract">List</a>
      </li>
      <li id="menu-item-2-3-1-2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-3-1-2">
        <a href="admin/abstract/export">Export</a>
      </li>
    </ul>
  </li>
  <li id="menu-item-2-4-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-4-1">
    <a class="nav-link" routerLink="admin/category">Category</a>
  </li>
  <li id="menu-item-2-5-1"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-2-5-1">
    <a class="nav-link" routerLink="admin/abstract">Administration</a>
    <ul class="sub-menu">
      <li id="menu-item-2-5-1-1" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-5-1-1">
        <a href="admin/administration/dictionary">Dictionary</a>
      </li>
      <li id="menu-item-2-5-1-2" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-5-1-2">
        <a href="admin/administration/admins">Administrators</a>
      </li>
      <li id="menu-item-2-5-1-3" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-5-1-3">
        <a href="admin/administration/clearData">Data cleaning</a>
      </li>
    </ul>
  </li>
</ng-template>
<ng-template #active_user>
  <li id="menu-item-2-1-2"
      class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2-1-2">
    <a class="nav-link" routerLink="abstracts">Abstracts</a>
  </li>
</ng-template>
<ng-template #pasive_user>

</ng-template>
