<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center">
                <a routerLink="abstracts/case/new" (click)="closeDialog()">
                  Case Report
                </a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-center align-middle">
                <a routerLink="abstracts/research/new" (click)="closeDialog()">
                  Research
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
