<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
  <div class="container">
    <div class="row" *ngIf="checkErrorIsNotUndefined()">
      <p class="col-sm-2 col-form-label"></p>
      <p class="col-sm-8">
        <app-error-display [_displayError]="checkErrorIsNotUndefined()" [_error]="error">
        </app-error-display>
      </p>
    </div>
    <h3>Registration</h3>
    <hr>
    <form name="form" (ngSubmit)="onSubmit()" [formGroup]="registration" novalidate>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Participant category *</label>
        <div class="col-sm-7">
          <select class="col-sm-7 form-control" name="authorities" formControlName="authorities">
            <option *ngFor="let role of userRole" value="{{role}}">{{role}}</option>
          </select>
          <app-field-error-display [displayError]="isFieldValid('authorities')"
                                   errorMsg="Participant field is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row" [ngClass]="displayFieldCss('email')">
        <label class="col-sm-3 col-form-label">E-mail *</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="email" formControlName="email" required/>
          <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Email field is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Password *</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="email" formControlName="password" required/>
          <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Password is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">First name *</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="firstName" formControlName="firstName" required/>
          <app-field-error-display [displayError]="isFieldValid('firstName')" errorMsg="First name is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Last name *</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="lastName" formControlName="lastName" required/>
          <app-field-error-display [displayError]="isFieldValid('lastName')" errorMsg="Last name is required">
          </app-field-error-display>
        </div>
      </div>
      <!--<div class="form-group row">
        <label class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-7">
          <select class="col-sm-7 form-control" name="gender" formControlName="gender">
            <option value="null" selected></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <app-field-error-display [displayError]="isFieldValid('gender')" errorMsg="Gender field is required">
          </app-field-error-display>
        </div>
      </div>-->
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Date of birth *</label>
        <div class="col-sm-7">
          <input class="form-control" type="date" name="dateOfBirth" formControlName="dateOfBirth">
          <app-field-error-display [displayError]="isFieldValid('dateOfBirth')"
                                   errorMsg="Date of birth field is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Country *</label>
        <div class="col-sm-7">
          <select class="col-sm-7 form-control" name="country" formControlName="country">
            <option value="null"></option>
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
          </select>
          <app-field-error-display [displayError]="isFieldValid('country')" errorMsg="Country field is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Title *</label>
        <div class="col-sm-7">
          <select class="col-sm-7 form-control" name="title" formControlName="title">
            <option *ngFor="let title of title" value="{{title}}">{{title}}</option>
          </select>
          <app-field-error-display [displayError]="isFieldValid('title')" errorMsg="Title field is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">University *</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="university" formControlName="university" required/>
          <app-field-error-display [displayError]="isFieldValid('university')" errorMsg="University is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Faculty *</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="faculty" formControlName="faculty" required/>
          <app-field-error-display [displayError]="isFieldValid('faculty')" errorMsg="Faculty is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Year of study *</label>
        <div class="col-sm-7">
          <select class="col-sm-7 form-control" name="yearOfStudy" formControlName="yearOfStudy">
            <option *ngFor="let yearOfStudy of yearOfStudy" value="{{yearOfStudy}}">{{yearOfStudy}}</option>
          </select>
          <app-field-error-display [displayError]="isFieldValid('yearOfStudy')"
                                   errorMsg="Year of study field is required">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Phone number</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber"/>
          <app-field-error-display [displayError]="isFieldValid('phoneNumber')"
                                   errorMsg="Wrong format number">
          </app-field-error-display>
        </div>
      </div>
      <!--<div class="form-group row">
        <label class="col-sm-3 col-form-label">Do you need visa?</label>
        <div class="col-sm-7">
          <input type="radio" value="true" formControlName="needVisa" required/>Yes
          <input type="radio" value="false" formControlName="needVisa" required/>No
          <app-field-error-display [displayError]="isFieldValid('needVisa')" errorMsg="Do you need visa?">
          </app-field-error-display>
        </div>
      </div>-->
      <div class="form-group row"><!--*ngIf="registration.get('needVisa').value == 'true'"-->
        <label class="col-sm-3 col-form-label">ID/Passport</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="passportNumber" formControlName="passportNumber"/>
          <app-field-error-display [displayError]="isFieldValid('passportNumber')" errorMsg="Wrong format">
          </app-field-error-display>
        </div>
      </div>
      <div class="form-group row">
        <div class="row regulations" *ngIf="!regulationsValid">
          <p class="error-messages">You must accept regulations</p>
        </div>
        <div class="row">
          <div class="col-md-1 col-form-label text-right">
            <input id="checkbox" type="checkbox" (click)="checkBox()" required/>
          </div>
          <div class="col-md-10">
            In accordance with art. 24 par. 1 of the Act of 29 August 1997. on Personal Data Protection (i.e. from 2015.
            Item. 2135, as amended. D) we inform that:<br/>
            1) the administrator of your data is the Rector of Medical University of Bialystok, seated in ul.
            Kilińskiego
            1,
            15-089 Bialystok,<br/>
            2) the data is collected in order to register for the conference and will not be shared with other
            entities,<br/>
            3) you have the right to access your personal data and correct it,<br/>
            4) data submission is voluntary.<br/>
            In accordance with art. 23 par. 1 pt. 1 of the Act of 29 August 1997. on Personal Data Protection (i.e.,
            from
            2015. Item. 2135, as amended. D), I hereby agree to the processing of my personal data in order to register
            for
            the conference.<br/>
          </div>
        </div>
      </div>
      <div class="form-group ng-hide">
        <button class="btn btn-primary">Register</button>
        <div class="col-sm-6">
          <div class="error-messages" *ngIf="isSignUpFailed" class="alert alert-warning">
            Signup failed!
          </div>
          <br/>
        </div>
      </div>
    </form>
    <hr>
  </div>
</ng-template>
